@media screen and (min-width: 600px) {
.heading {
    font-family: Stag, Georgia, Times New Roman, Times, serif;
    font-size: 64px;
    font-weight: 300;
    line-height: 66px;
    color: var(--colors-text-primary);
} }

p {
    font-family: Rakuten Sans UI,system-ui,Arial,Roboto,sans-serif;
}